.image-container {
    position: relative;
    display: inline-block;
    width: 90vw;
    height: 85vh;
    margin-left: 5%;
}
.image-container img {
    display: block;
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

