.meetContainer {
    display: flex;
    padding-inline: 20px;
    height: 80vh;
    gap: 2vw;
    justify-content: center;
    background-color: #0f0f0f;
    color: #ffd376;
  }
  

  
  .leftPanel {
    height: 100%;
    display: flex;
    align-items: center;
    width: 30rem;
  }
  
  .rightPanel {
    display: flex;
    align-items: center;
    width: 45vw;
  }
  