.navbar{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: x-large;
    align-items: centre;
    margin: 3% 3%;
    gap: 5%;
}

#logo{
    margin-right: auto;
    display: flex;
    align-items: center;
}

.navbar li:hover{
    color: #b1812e;
    cursor: pointer;
}

.navbar a{
    text-decoration: none;
}